* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}

body {
    background-color: white;
}

.hide {
    display: none;
}

.containerQ {
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
}

.container1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* border: 2px solid black; */
}

h2 {
    text-align: center;
    /* float:left; */
    font-size: 30px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 90px;
}

p {
    text-align: center;
    font-size: 30px;
}

.sButton {
    background-color: purple;
    color: white;
    height: 30px;
    width: 50px;
    border: white;
    
}

.bDiv {
    display: flex;
    justify-content: center;
}

#answersList {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
}

#a1, #a2, #a3, #a4 {
    background-color: purple;
    color: white;
    height: 45px;
    width: 85px;
    border: white;
    margin-top: 25px;
}

h3 {
    font-size: 30px;
    text-align:center;
   
  
}

h6 {
    text-align: center;
    font-size: 30px;
}

#initialSaver {
    color: white;
    background-color: purple;
    border: none;
    height: 30px;
    width: 100px;
    padding: 15px 32px;
    text-decoration:none;
}

#enterInitial {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.saveButton {
    background-color: purple;
    color: white;
    height: 30px;
    width: 50px;
    border: white;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#end {
    justify-content: space-between;
}



.lastContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

