* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}

body {
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

p {
    text-align: center;
    padding-top: 25px;
}

button {
    text-align: center;
    padding: 15px 15px;
    border: 2px solid white;
    background-color: purple;
    color: white;
}

.bDiv {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

h4 {
    font-size: 30px;
}

#questions {
    height: 90px;
    width: 300px;
    border: solid 2px black;
}

.quesList{
    height: 210px;
    width: 300px;
    border: solid 2px black;
}

.hide{

    display:none;
}